<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qatar museum</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Flip.min.js"></script>
    <script src="/scripts/qatarmuseum.js"></script>
    

  </head>

  <header>
    <nav class="nav">
        <div class="qatar-museums-Logo">
            <a href="/">
                <img src="/assets/images/logo.svg" alt="Qatar museums logo">
            </a>
        </div>
        <div class="menu">
            <a href="">x</a>
        </div>
        <ul class="navbar">
            <li>
                <a href="https://qm.org.qa/en/stories/">قصصنا<br>Stories</a>
            </li>
            <li>
                <a href="https://qm.org.qa/en/calendar/">الفعاليات<br>What's On </a>
            </li>
            <li>
                <a href="/"> المقتنيات<br>Collection</a>
            </li>
            <li>
                <a class="button" href="https://qm.org.qa/tickets/select-tickets/"> Tickets </a>
            </li>
            <li>
                <a href="https://qm.org.qa/en/visit/">venues </a>
            </li>
            <li>
                <input type="checkbox" class="switch" id="switch" role="switch" aria-checked="false" aria-label="Enable Dark Mode">
                <label for="switch" class="switch"></label>
            </li>
            <li>
                <a href="">العربية</a>
            </li>
            <div class="menu">
                <li>
                    <a href="">Menu</a>
                </li>
            </div>
        </ul>
    </nav>
  </header>
  <body>