<link rel="stylesheet" href="/styles/404.css">


    <article class="animation-container">
        <h1 class="error-code"> 404 </h1>
        <h1 class="error-code"> 404 </h1>
        <h1 class="error-code"> 404 </h1>
        <h1 class="error-code"> 404 </h1>
        <h1 class="error-code"> 404 </h1>
      </article>
      <article class="error-container">
          <h3>page not found</h3>
          <a href="/" class="button">Go back</a>
      </article>
