{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/about.css">
<main>
    <section class="faq-container">
        <details>
            <summary>Where can i buy tickets?</summary>
            <p><a href="https://qm.org.qa/tickets/select-tickets/">Here u can buy tickets</a></p>
        </details>
        <details>
            <summary>What are the vistor guidelines?</summary>
            <p>These guidelines include essential information about dress code, photography policies, and other useful tips to help you make the most of your visit.
                <a href="https://qm.org.qa/en/visit/visitor-guidelines/">Visitor guidelines</a>
            </p>
        </details>
        <details>
            <summary>Are the museums accessible?</summary>
            <p>At Qatar Museums we are committed to ensuring our galleries, museums and cultural offerings are fully accessible. Through cutting-edge technologies, expertly 
                trained staff and innovative initiatives, our venues provide the most interactive and immersive experiences to all. <a href="https://qm.org.qa/en/accessibility/">Accessibility</a></p>
        </details>
    </section>

</main>