{% render 'partials/head.liquid' %}

<main>
    <section class="ticketing-progress-bar">
        <div>
            <h1>Order Your Tickets</h1>
        </div>
        <div>
            <ol>
                <li>
                    <h4>Select museum</h4>
                </li>
                <li>
                    <h4>Select your tickers</h4>
                </li>
                <li>
                    <h4>Select the date</h4>
                </li>
                <li>
                    <h4>Your information</h4>
                </li>
                <li>
                    <h4>confirmation</h4>
                </li>
                <li>
                    <h4>payment</h4>
                </li>
            </ol>
        </div>
    </section>

    <section class="ticketing-form-container">

        <form action="" class="select-museum">
            <div>
                <input type="checkbox">
                <h3>Museum Name</h3>
                <img src="/assets/images/museum.jpg" alt="">
            </div>
            <div>
                <input type="checkbox">
                <h3>Museum Name</h3>
                <img src="/assets/images/museum.jpg" alt="">
            </div>
            <div>
                <input type="checkbox">
                <h3>Museum Name</h3>
                <img src="/assets/images/museum.jpg" alt="">
            </div>
            <div>
                <input type="checkbox">
                <h3>Museum Name</h3>
                <img src="/assets/images/museum.jpg" alt="">
            </div>
        </form>

        <form action="" class="select-tickets">
            <input type="number">
        </form>
    </section>

    <section class="ticketing-data-post-container">
    </section>

</main>

{% render 'partials/foot.liquid' %}